#dashboard-header{
    .dashboard-navigation-content{
        .logo-wrap{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
        }
        .dashboard-navigation-link{
            font-family: 'WorkSans-Regular', Courier, monospace;
        }
    }
    ion-toolbar{
        display: flex;
        align-items: center;
        height: 70px;
    }
}