@import "fonts";



body {
    font-family: 'WorkSans-Regular', Tahoma, Verdana, sans-serif !important;
    scroll-behavior: smooth !important;
}

.container {
    margin: 0px 5%;
}

.page-title {
    font-weight: bold;
    font-size: 1.5rem;
}

.sub-page-title {
    font-weight: bold;
    font-size: 1.2rem;
}
.sub-page-title-description {
    font-size: .8rem;
}

#loading-wrapper {
    z-index: 1000;
    background: #FFF;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whitelist-modal::part(content) {
    background: rgb(255,255,255);
    background: url('../assets/images/blurry-gradient-haikei.png') center center no-repeat;
    background-size: cover;
}

@media screen and (max-width: 768px) {
    .container {
        margin: 0px 1%;
    }
}