#dashboard{
    .dashboard-navigation-content{
        .logo-wrap{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
        }
        .dashboard-navigation-link{
            font-family: 'WorkSans-Regular', Courier, monospace;
        }
    }
    .referral-link-wrapper {
        padding: 15px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        input {
            width: 100%;
            border: 1px solid #f1f1f1;
        }
    }
    ion-toolbar{
        display: flex;
        align-items: center;
        height: 70px;
    }
    ion-split-pane {
        --side-max-width: 300px;
        --border: 1px solid #f1f1f1;
    }

}