#change-password{
    #change-password-content{
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(255,0,0);
        background: linear-gradient(135deg, rgba(255,0,0,1) 15%, rgba(254,162,24,1) 61%);
        min-height: 100vh;
        color: #fff;
    }
    .icon{
        display: flex;
        align-items: center;
        justify-content: center;
        .icon-img{
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
            width: 150px;
            border-radius: 50%;
            height: 150px;

        }
        img{
            vertical-align: middle;
            width: 100px;
            height: 100px;
        }
    }
    .title{
        font-size: 50px;
        text-align: center;
        padding-top: 30px;
        color: #fff;
        font-family: 'WorkSans-Bold';
    }
    ion-item.inputs{
        --background: #fff;
        --background-hover: #fff;
        --background-focused: #fff;
        --color: #000;
        --placeholder-color: #c0bfbf;
        --placeholder-opacity: 0.8;
        --border-radius: 5px;
    }
    #change-password-invalid{
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(255,0,0);
        background: linear-gradient(135deg, rgba(255,0,0,1) 15%, rgba(254,162,24,1) 61%);
        min-height: 100vh;
        color: #fff;
        .error-icon{
            display: flex;
            align-items: center;
            justify-content: center;
            .icon-img{
                display: flex;
                align-items: center;
                justify-content: center;
                background: #fff;
                width: 150px;
                border-radius: 50%;
                height: 150px;
    
            }
            img{
                vertical-align: middle;
                width: 100px;
                height: 100px;
            }
        }
        .error-title{
            font-size: 50px;
            text-align: center;
            padding-top: 30px;
            color: #fff;
            font-family: 'WorkSans-Bold';
        }
        .error-description{
            font-family: 'WorkSans-Regular';
            font-size: 30px;
            text-align: center;
            margin-bottom: 50px;
        }
    }
}