#register{
    .sign-up{
        display: none;
    }
    #register-content{
        .register-column{
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: #fff;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            padding: 10px;
            .logo-mobile{
                display: none;
            }
            .register-title{
                text-align: center;
                font-size: 40px;
                font-family: 'WorkSans-Bold';
                color: var(--ion-color-primary);
            }
            .sign-up-title{
                font-size: 15px;
                font-family: 'WorkSans-Bold';
                padding-left: 5px;
                text-transform: capitalize;
            }
            .line-break {
                overflow: hidden;
                text-align: center;
                margin: 20px 0;
            }
            
            .line-break:before,
            .line-break:after {
                background-color: #fff;
                content: "";
                display: inline-block;
                height: 1px;
                position: relative;
                vertical-align: middle;
                width: 30%;
            }
            
            .line-break:before {
                right: 0.5em;
                margin-left: -50%;
            }
            
            .line-break:after {
                left: 0.5em;
                margin-right: -50%;
            }
            ion-item.inputs{
                --background: rgba(255, 252, 252, 0.349);
                --background-hover: rgba(255, 252, 252, 0.349);
                --background-focused: rgba(255, 252, 252, 0.349);
                --color: #fff;
                --placeholder-color: #c0bfbf;
                --placeholder-opacity: 0.8;
                --border-radius: 5px;
            }
            .terms-and-conditions{
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 10px;
                gap: 5px;
                font-family: 'WorkSans-Regular';
            }
            .privacy-policy{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 0;
                gap: 5px;
                font-family: 'WorkSans-Regular';
            }
            ion-checkbox {
                --size: 20px;
                --checkbox-background-checked: var(--ion-color-primary);
            }
              
            ion-checkbox::part(container) {
                border-radius: 50%;
                border: 2px solid var(--ion-color-primary);
            }
            .login-button-mobile{
                display: none;
            }
        }
        .login-column{
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background: var(--ion-color-primary);
            padding: 0px 15px;
            color: #fff;
            .login-title{
                text-align: center;
                font-size: 40px;
                font-family: 'WorkSans-Bold';
            }
            .login-description{
                text-align: center;
                font-size: 15px;
                font-family: 'WorkSans-Regular';
                padding: 20px 0;
                margin-bottom: 20px;
            }
            .login-btn-txt {
                text-transform: capitalize;
                font-family: 'WorkSans-Regular';
                font-size: 20px;
            }
        }

    }
    #verified{
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(255,0,0);
        background: linear-gradient(135deg, rgba(255,0,0,1) 15%, rgba(254,162,24,1) 61%);
        min-height: 100vh;
        color: #fff;
        .icon{
            display: flex;
            align-items: center;
            justify-content: center;
            .icon-img{
                display: flex;
                align-items: center;
                justify-content: center;
                background: #fff;
                width: 150px;
                height: 150px;
                border-radius: 50%;
            }
            img{
                vertical-align: middle;
                width: 100px;
                height: 100px;
            }
        }
        .verified-title{
            padding-top: 30px;
            text-align: center;
            font-size: 50px;
            margin-bottom: 10px;
            font-family: 'WorkSans-Bold';
        }
        .verified-description{
            text-align: center;
            font-size: 30px;
            font-family: 'WorkSans-Regular';
            margin-bottom: 50px;

        }
        .got-it-button{
            text-transform: capitalize;
            font-family: 'WorkSans-Regular';
            font-size: 20px;
        }
    }
}
@media only screen and (max-width: 767px) {
    #register{
        #register-content{
            .register-column{
                min-height: 100vh;
                padding-bottom: 50px;
                .logo-mobile{
                    display: block;
                }
                .login-button-mobile{
                    display: block;
                    margin-top: 20px;
                    .login-button-mobile-content{
                        font-size: 15px;
                        font-family: 'WorkSans-Regular';
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
            .login-column{
                display: none;
            }
        }
    }
}